:root {
    --primary-color: #3b8c66;      /* Azul */
    --secondary-color: #347355;   /* Verde */
    --background-color: #223240;  /* Cinza claro */
    --third-color: #60bf81;        /* Preto acinzentado */
    --fourth-color: #93d94e;      /* Cinza claro */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: white;
}

